.Menu {
  background: rgb(85, 93, 112);
  display: flex;
  justify-content: flex-end;
}

.Menu__options {
  border: 1px solid #fff;
  width: 10em;
  height: 10em;
  position: absolute;
  top: 10px;
  left: 70vw;
}