.SocialCard {
  background: #f7f7f7;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: -7px 10px 15px rgb(37, 46, 53);
  display: flex;
  width: 40em;
  height: 15em;
  margin-left: 60px;
  margin-top: 30px;
  overflow: auto;
  flex-flow: column;
}

.SocialCard__header {
  border-bottom: 1px solid rgb(187, 186, 186);
  height: 65%;
  padding-top: 17px;
}

.SocialCard__main {
  background: rgb(85, 84, 84);
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  font-size: 23px;
  flex-grow: 1;
}

.SocialCard__header__photo {
  border: 1px solid rgb(187, 186, 186);
  width: 70px;
  height: 80px;
  margin-left: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .SocialCard {
    margin-left: 1.6em;
    width: 20em;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .SocialCard {
    min-width: 10em;
  }
}