.App__main {
  display: flex;
  flex-flow: wrap;
  padding: 0em 10em;
  height: 100vh;
}

.Menu__items {
  text-decoration: none;
  color: #be5959;
  outline: none;
  padding: 5px;
  transition: all 0.1s;
}

.Menu__items:hover {
  background: #56768b;
}

@media (min-width: 320px) and (max-width: 480px) {
  .App__main {
    padding: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .App__main {
    padding: 0;
  }
}